.link {
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  /* border: 1px solid white;  */
}

.navLinks {
  display: flex;
  width: 100%;
  justify-content: space-around; /* or space-evenly */
}
